/**
 * Blocks (BEM), basic UI styled elements
 * that can be used throughout the application
 */

/**
 * Block: title-{1-6}
 */
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  // line-height: 1;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
.title-1 {}
.title-2 {}
.title-3 {}
.title-4 {}
.title-5 {}
.title-6 {}

// Titles inside content area
// .title-1 .the-content h1,
// .title-2 .the-content h2,
// .title-3 .the-content h3,
// .title-4 .the-content h4,
// .title-5 .the-content h5,
// .title-6 .the-content h6 {
//   line-height: 1;
//   font-weight: 700;
//   margin: 0 0 0.5em 0;
// }
// .title-1,
// .the-content h1 {}
// .title-2,
// .the-content h2 {}
// .title-3,
// .the-content h3 {}
// .title-4,
// .the-content h4 {}
// .title-5,
// .the-content h5 {}
// .title-6,
// .the-content h6 {}

/**
 * Block: ratio-box
 */
.ratio-box {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }
  > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // &_2-1 {
  //   &:after {
  //     padding-bottom: 50%;
  //   }
  // }
  // &_16-9 {
  //   &:after {
  //     padding-bottom: 56.3%;
  //   }
  // }
  // &_4-3 {
  //   &:after {
  //     padding-bottom: 75%;
  //   }
  // }
}

/**
 * Slider
 */
.slider {
  &-wrapper {
    position: relative;
  }
  /**
   * Default Slider
   */
  &-dft {
    .swiper {
      // display: none;
      &-initialized {
        // display: block;
      }
      &-wrapper {}
      &-slide {}
      &-lazy {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        &-loaded {
          opacity: 1 !important;
        }
      }
      /**
       * Navigation
       */
      &-button-prev,
      &-button-next {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        font-size: 0.75rem;
        border-radius: 50%;
        border: 1px solid $white;
        color: $black;
        line-height: 1;
        background-color: #dedede;
        position: absolute;
        top: 50%;
        z-index: 1;
        user-select: none;
        transition: all $trs;
        &:hover,
        &:focus {
        }
        &:active {
        }
        &.swiper-button-disabled {
          pointer-events: none;
        }
      }
      &-button-prev {
        left: 0;
        transform: translate(-50%, -50%);
      }
      &-button-next {
        right: 0;
        transform: translate(50%, -50%);
      }
      &-lazy-preloader {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $imageholder-bg;
        &::before {
          content: '';
          display: flex;
          width: 20%;
          height: 20%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../svg/preloader.svg') no-repeat center;
          transition: all $trs * 2;
        }
      }
    }
  }
}