/**
 * Application sections
 * Blocks (BEM)
 */

/**
 * Section: sct
 */
.sct {
  position: relative;
}

/**
 * Section: app
 */
.app {}

/**
 * Section: app-header
 */
.app-header {
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: #e9e9e9;
}

/**
 * Section: app-drawer
 */
.app-drawer {
  &__header {
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: #e9e9e9;
  }
  &__content {}
}

/**
 * Section: app-page
 */
.app-page {}

/**
 * Section: app-footer
 */
.app-footer {
  background-color: #e9e9e9;
}