@use "../settings" as *;

/**
 * Component: slider
 */
.slider {
  &-wrapper {
    position: relative;
  }

  // ---
  // Default slider
  // ---
  &-dft {
    .swiper {
      &-initialized {
      }
      &-wrapper {
      }
      &-slide {
      }
      // Navigation
      &-button-prev,
      &-button-next {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        font-size: 0.75rem;
        border-radius: 50%;
        border: 1px solid $white;
        color: $black;
        line-height: 1;
        background-color: #dedede;
        position: absolute;
        top: 50%;
        z-index: 1;
        user-select: none;
        transition: all $trs;
        &:hover,
        &:focus {
        }
        &:active {
        }
        &.swiper-button-disabled {
          pointer-events: none;
        }
      }
      &-button {
        &-prev {
          left: 0;
          transform: translate(-50%, -50%);
        }
        &-next {
          right: 0;
          transform: translate(50%, -50%);
        }
      }
      // Preloader
      &-lazy-preloader {
        border-color: $accent transparent;
      }
    }
  }
}
