@use "sass:map";
@use "../utils/breakpoints" as *;

/**
 * Component: title
 */
$sizes: (
  // 1: (
  //   base: 38px,
  //   md: 34px,
  //   sm: 30px
  // ),
);

// Common styles for all titles
%title {
  font-weight: 700;
  margin: 0;
}

.title {
  @each $name, $breakpoints in $sizes {
    &-#{$name} {
      font-size: map.get($breakpoints, "base");
      @extend %title;
      @each $breakpoint, $fontSize in $breakpoints {
        @if $breakpoint != "base" {
          @if map.has-key($grid-breakpoints, $breakpoint) {
            @include media-breakpoint-down($breakpoint) {
              font-size: $fontSize;
            }
          } @else {
            @error 'Breakpoint «#{$breakpoint}» does not exist in $grid-breakpoints map';
          }
        }
      }
    }
  }
}
